<div>aiudasiudasi</div> 
<!-- 1. põhjus miks div kasutada: semantiliselt eristatud -->
<br>
<br>
<br>
<br>
<br>
<!-- br ja tääb/enter/click -->
<div class="pealkiri">{{ title }}</div>
<!-- 2. põhjus miks div kasutada: stiilimiseks -->

<!-- <div id="pealkiri"></div> -->


<!-- camelCase -->
<!-- under_score    snake_case -->
<!-- PascalCase -->
<!-- kebab-case -->

<div>{{ toode1Name }}</div>
<br>
<div>{{ toode2Name }}</div>
<br>
<div *ngFor="let toodeName of toodeNames">{{ toodeName }}</div>
<div *ngFor="let toodeName of toodePrices">{{ toodeName }}</div>
<br>
<div>{{ toode1Object }}</div>
<div>{{ toode1Object.name }}</div>
<div>{{ toode1Object.price }}</div>
<div>{{ toode2Object }}</div>
<div>{{ toode2Object.name }}</div>
<div>{{ toode2Object.price }}</div>
<br>
<br>
<div *ngFor="let toode of tooted">
  {{ toode }}
  <br>
  {{ toode.name }}
  <br>
  {{ toode.price }}
</div>


<!-- for (Character c: world.getCharacters()) -->