.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 40px rgb(0 0 0 / 8%);
}

.navbar img {
  height: 100px;
}

.navbar button, .navbar img, .navbar div {
  cursor: pointer;
}


/* #to-cart-button {
  color: white;
} */