<!-- htmli enda direktiivid: class="" id=""
Angular: *ngFor="", routerLink="", *ngIf=""

-->
<div class="products">
  <!-- [routerLink]="['view',i]" -->
  <div class="product" *ngFor="let product of products">
    <div routerLink="view/{{product.id}}">
      <div class="title">{{product.title}}</div>
      <img src="{{product.imgSrc}}" alt="">
      <div class="price">{{product.price}}</div>
      <div class="category">{{product.category}}</div>
    </div>
    <button (click)="onAddToCart(product)">Add to cart</button>
  </div>
</div>

<!-- <div (click)="addProduct()">LISA TOODE</div> -->